@page "/games"

@using GameManager.Page.Services
@using GameManager.Data.Dtos
@using GameManager.Data.Enums
@inject IGameMediaService GameMediaService
@inject NavigationManager NavigationManager

@attribute [Authorize]
<h1>Games</h1>

<p>List of owned games</p>

<div class="form-group">
    <a class="btn btn-success" href="games/create"><i class="oi oi-plus"></i> Create New</a>
</div>

@if (_games == null)
{
<p><em>Loading...</em></p>
}
else
{
<table class="table">
    <thead>
        <tr>
            <th>-</th>
            <th>Title</th>
            <th>Year</th>
            <th>Platform</th>
            <th>Media Type</th>
            <th>Borrowed to</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var game in _games)
             {
        <tr>
            <td>
                <a href="@($"games/edit/{game.id}")" class="btn btn-secondary m-1">Edit</a>
                <a href="@($"games/delete/{game.id}")" class="btn btn-danger m-1">Delete</a>
            </td>
            <td>@game.title</td>
            <td>@game.year</td>
            <td>@(((Platform) game.platform).GetDescription())</td>
            <td>@(((MediaType) game.media).GetDescription())</td>
            @if (game.borrower != null)
                     {
            <td>@game.borrower.name</td>
            <td><a href="@($"return/{game.id}")" class="btn btn-success m-1">Return</a></td>
                     }
                     else
                     {
            <td>-</td>
            <td><a href="@($"lend/{game.id}")" class="btn btn-primary m-1">Lend</a></td>
                     }
        </tr>
             }
    </tbody>
</table>
}

@code {
    private List<GameMediaResponseDto> _games;

    protected override async Task OnInitializedAsync()
    {
        _games = await GameMediaService.GetAllGames();
    }

}
